
body {
    width: 50rem;
    margin: 0 auto;
}

main {
    min-height: 80vh;
}

input.name {
    width: 30rem;
}

input.number {
    width: 4rem;
}

.pagination-comp select {
    width: 4rem;
}

.top-sales-find-inputs {
    width: 16rem;
}

.pager .number-col {
    width: 3rem;
}

.delete-icon:before {
    font-family: "Material Symbols Outlined", serif;
    content: "\e872";
    position: relative;
    font-size: 1.4rem;
    bottom: 0.1rem;
    cursor: grab;
}

.loyalty-icon:before {
    font-family: "Material Symbols Outlined", serif;
    content: "\e89a";
    position: relative;
    font-size: 1.4rem;
    bottom: 0.1rem;
    cursor: grab;
}
